html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Vrdznagir';
    src: url('./assets/fonts/Vrdznagir.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/GothamNarrow-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a,
body {
	line-height: 1;
    color: #848484;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
}

.text-center {
    text-align: center;
}

.section-1 {
    background-image: url('./assets/images/backgrond.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 300px;
        height: 300px;
        background-image: url('./assets/images/2.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    
    &::after {
        content: '';
        position: absolute;
        bottom: -40px;
        right: 0;
        width: 300px;
        height: 400px;
        background-image: url('./assets/images/1.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 55px;
        padding-block: 2rem;
        text-transform: capitalize;
        font-family: 'Vrdznagir', sans-serif
    }

    .p-1 {
        letter-spacing: 2px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    
    .p-2 {
        letter-spacing: 2px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    #countdown {
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -30px;
            width: 150px;
            height: 150px;
        }
        &::after {
            bottom: -40px;
            width: 170px;
            height: 270px;
        }
    }
}

.section-2 {
    background-image: url('./assets/images/backgrond.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 20px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 5%;
        left: 5%;
        width: 140px;
        height: 145px;
        background-image: url('./assets/images/5.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 140px;
        height: 145px;
        background-image: url('./assets/images/6.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .column-1 {
        border-right: 1px solid #8a9571;
        flex: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        .info-1 {
            position: relative;
        }

        .info-2 {
            text-transform: initial;
            letter-spacing: 3px;
            text-align: left;
            line-height: 1.5;
        }

        .location::before {
            content: '';
            position: absolute;
            left: -20px;
            background-image: url('./assets/images/7.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 105px;
            height: 90px;

            @media screen and (max-width: 768px) {
                width: 50px;
                height: 43px;
                bottom: -20px;
            }
        }
    }

    .column-2 {
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;

        .info-1 {
            margin-top: -200px;
            position: relative;
        }

        .time {
            &::after {
                content: '';
                position: absolute;
                right: -20px;
                background-image: url('./assets/images/3.svg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 105px;
                height: 55px;
            }

            @media screen and (max-width: 768px) {
                margin-left: -50px;
                &::after {
                    width: 50px;
                    height: 25px;
                    top: 60px;
                }
            }
        }
    }

    .time {
        margin: 50px 0;

        @media screen and (max-width: 768px) {
            margin: 30px 0;
        }
    }
}

@media screen and (max-width: 575px) {
    .location {
        word-spacing: 100px;
        line-height: 20px;
    }
}
